import(sp)
import("methods")
importFrom("parallel", makeCluster,clusterExport,parLapplyLB,stopCluster,clusterEvalQ)
importFrom("RCurl",getCurlHandle)
importFrom("grDevices", "xy.coords")
importFrom("graphics", "abline", "axis", "box", "grid", "lines", "title")
importFrom("stats", "na.omit")
importFrom("utils", "read.table", "write.table")
importFrom("xts", endpoints,period.apply,apply.daily,apply.weekly,apply.monthly,apply.quarterly,apply.yearly,periodicity,xts,axTicksByTime)
importFrom("zoo", index,as.yearqtr,as.yearmon,"index<-")
importFrom("raster",extract,subset,cellFromRowCol,cellFromXY,filename,trim,nlayers,ncell,xres,yres,projection,minValue,maxValue,getZ,writeRaster,brick,addLayer,calc,hasValues,rasterFromCells,xyFromCell,setValues,crop,stack)
exportClasses(rts, RasterBrickTS, RasterStackTS, RasterStackBrickTS)
S3method("index", "RasterStackBrickTS")
S3method("index<-", "RasterStackBrickTS")
exportPattern("^[[:alpha:]]+")